<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.leig.task.dao.mapper.TaskInfoMapper">
    <resultMap id="BaseResultMap" type="me.leig.task.dao.model.TaskInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent" jdbcType="INTEGER" property="parent"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="handle" jdbcType="INTEGER" property="handle"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="deletetime" jdbcType="TIMESTAMP" property="deletetime"/>
        <result column="deleteflag" jdbcType="INTEGER" property="deleteflag"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="me.leig.task.dao.model.TaskInfoWithBLOBs">
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, parent, title, type, handle, status, createtime, updatetime, deletetime, deleteflag
    </sql>
    <sql id="Blob_Column_List">
        description, remark
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from taskinfo
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectSelective" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        from taskinfo
        where deleteflag = #{deleteflag,jdbcType=INTEGER}
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER},
        </if>
        <if test="parent != null">
            and parent = #{parent,jdbcType=INTEGER},
        </if>
        <if test="title != null">
            and title = #{title,jdbcType=VARCHAR},
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=INTEGER},
        </if>
        <if test="handle != null">
            and handle = #{handle,jdbcType=INTEGER},
        </if>
        <if test="status != null">
            and status = #{status,jdbcType=INTEGER},
        </if>
        <if test="createtime != null">
            and createtime = #{createtime,jdbcType=TIMESTAMP},
        </if>
        <if test="updatetime != null">
            and updatetime = #{updatetime,jdbcType=TIMESTAMP},
        </if>
        <if test="deletetime != null">
            and deletetime = #{deletetime,jdbcType=TIMESTAMP},
        </if>
        <if test="description != null">
            and description = #{description,jdbcType=LONGVARCHAR},
        </if>
        <if test="remark != null">
            and remark = #{remark,jdbcType=LONGVARCHAR}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from taskinfo
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="me.leig.task.dao.model.TaskInfoWithBLOBs">
        insert into taskinfo (id, parent, title,
        type, handle, status,
        createtime, updatetime, deletetime,
        deleteflag, description, remark
        )
        values (#{id,jdbcType=INTEGER}, #{parent,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER}, #{handle,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
        #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{deletetime,jdbcType=TIMESTAMP},
        #{deleteflag,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR}, #{remark,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="me.leig.task.dao.model.TaskInfoWithBLOBs">
        insert into taskinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parent != null">
                parent,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="handle != null">
                handle,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="deletetime != null">
                deletetime,
            </if>
            <if test="deleteflag != null">
                deleteflag,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="parent != null">
                #{parent,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="handle != null">
                #{handle,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deletetime != null">
                #{deletetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteflag != null">
                #{deleteflag,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="me.leig.task.dao.model.TaskInfoWithBLOBs">
        update taskinfo
        <set>
            <if test="parent != null">
                parent = #{parent,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="handle != null">
                handle = #{handle,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deletetime != null">
                deletetime = #{deletetime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteflag != null">
                deleteflag = #{deleteflag,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.leig.task.dao.model.TaskInfoWithBLOBs">
        update taskinfo
        set parent = #{parent,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        handle = #{handle,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        deletetime = #{deletetime,jdbcType=TIMESTAMP},
        deleteflag = #{deleteflag,jdbcType=INTEGER},
        description = #{description,jdbcType=LONGVARCHAR},
        remark = #{remark,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="me.leig.task.dao.model.TaskInfo">
        update taskinfo
        set parent = #{parent,jdbcType=INTEGER},
        title = #{title,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        handle = #{handle,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        deletetime = #{deletetime,jdbcType=TIMESTAMP},
        deleteflag = #{deleteflag,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>