<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <div th:include="base/comm :: header"></div>
    <link rel="stylesheet" th:href="@{css/signin.css}"/>
</head>
<body>

<form class="form-signin" id="login_frame">
    <h1 class="h3 mb-3 font-weight-normal">用户登录</h1>
    <label for="inputEmail" class="sr-only">账号</label>
    <input type="text" id="inputEmail" name="username" class="form-control" placeholder="请输入账号" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="请输入密码" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> 记住账号密码
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" onclick="onSubmit()">登录</button>
    <div th:include="base/comm :: copyright"></div>
</form>
</body>
<div th:include="base/comm :: comm_js"></div>
<script type="text/javascript">
function onSubmit() {
var username = $("#inputEmail").val()
var password = $("#inputPassword").val()
var params = {username, password}
 $.ajax({
      type: "POST",
      url: "user/login",
      data: params,
      dataType : "json",
      success: function(respMsg) {
        window.location.href = "index?username=" + respMsg.t.username + "&token=" + respMsg.t.token;
      }
   });
}

</script>
</html>